.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-image: url('https://static-cse.canva.com/blob/753281/20TexturasGratis.jpg');
  justify-content: center;
}

.side_photo{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}