.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-image: url('../../assets/img_back_login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.side_photo{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  width: 55%;
  height: 100%;
}
img{
  mask-image: linear-gradient(to right, rgb(0, 0, 0) 95%, transparent);
}